# .envrc is used by direnv to automatically load and unload environment variables
#
# More info: https://direnv.net

PATH_add "bin"

dotenv # loads env vars from .env file

if has nix; then
   watch_file "shell.nix"
   use nix
fi
